# DEPLOYMENT
DOCKER_REGISTRY='secret'
DOCKER_USERNAME='secret'
DOCKER_PASSWORD='secret'

# DATABASE & DEFAULT DATA
POSTGRES_DB='club-evolyn-stories-new'
POSTGRES_HOST='localhost'
POSTGRES_USER='secret'
POSTGRES_PASSWORD='secret'
POSTGRES_PORT='5432'
POSTGRES_MAX='10'

DEFAULT_USER_EMAIL='secret@example.com'
DEFAULT_USER_PASSWORD='secret'
DEFAULT_USER_FIRST_NAME='secret'
DEFAULT_USER_LAST_NAME='secret'

DEFAULT_CLIENT_SLUG='secret'
DEFAULT_CLIENT_NAME='secret'
DEFAULT_CLIENT_DEFAULT_DOMAIN='secret'
DEFAULT_CLIENT_ADMINISTRATION_EMAIL='secret?'
DEFAULT_CLIENT_ACCESS_TOKEN_KEY='secret'
DEFAULT_CLIENT_PLAUSIBLE_DOMAIN='secret?'

# FILES
ASSETS_DIR='secret'

# OTHER
DEFAULT_CADDY_API_BASE_URL='http://localhost:2019'
DEFAULT_RESEND_API_KEY='secret?'
DEFAULT_OPENAI_API_KEY='secret?'
